.mobile{
		display: none;
	}
.computer{
		display: initial;
	}
.navbar{
	background-color: rgb(25,89,129);
	border: none;
}

#mylink li a , #mylink a{
	color: white;
}

#mylink li a:hover , #mylink a:hover{
	color: lightpink;
}
header{
	background-color: rgb(178, 225, 255);
	text-align: center;
}
header span.site-heading h1{
	font-size: 70px;
	font-family: 'Pacifico', cursive;
	display: inline;
	color: rgb(255, 113, 113);
}
header small{
	font-size: 30px;
	font-family: 'Pacifico', cursive;
	color: #3da5a7;
}
header img{
	width: 200px;
	margin-bottom: -50px;
	margin-top: -35px;
}
body{
	background-color: rgb(252,252,252);
}
div.main-wrapper{
	margin-top: -40px;
	margin-bottom: -40px;
}
nav{
	margin-top: -20px;
}
section.main-section{
	padding-left: 0;
	padding-right: 0;
}
article.article1{
	background-color: white;
	border: 1px solid rgb(230,230,230);
	text-align: justify;
}
div.yle{
	background-color: white;
	border: 1px solid rgb(230,230,230);
	text-align: justify;
}
/*our experts*/
img.experts{
	margin-top: -50px;
}
p.sbio{
	height: 80px;
	overflow-y: auto;
}
/*contact us*/
div.mapp{
	border-radius: 5px;
}
	
div.mapp iframe{
	width: 100%;
	height: 345px;
}
div.caddress{
	height: 350px;
}
footer{
	background-color: rgb(238,238,238);
	padding-top: 15px;
}
/*notice board settings*/
.notice-board .panel .panel-heading{
	font-size: 25px;
}
div.notice-board{
	background: linear-gradient(90deg,#b2e1ff,#9fffd7);
}
div.noticescroll{
	max-height: 250px;
	overflow-y: auto;
}
/*student zone setting*/
div.youtubevideo iframe{
	width: 100%;
	height: 300px;

}
div.overfloauto{
	overflow-x: auto;
}
/*Footer Settings*/
ul.sitemap{
	list-style-type: none;
	text-align: left;
}
ul.sitemap li a{
	color: black;
}
span.facebooklogo img, span.twitterlogo img, span.googlelogo img{
	width: 35px;
}
section.caption a{
	color: black;
}
/*student zone*/
div.login{
	height: 330px;
}
/*courses*/
div.course-container{
	padding: 0;
}
div.course-container > div{
	height: 260px;
}
div.gallery ,div.experts , div.enrolnment , div.caddress{
	background-color: #d9edf7;
}
div.gallery{
	padding-bottom: 0;
	padding-top: 0;
}
div.tweet{
	height: 150px;
	overflow-y: auto;
	margin-top: 25px;
}
@media only screen and (max-width: 768px) {
	.mobile{
		display: initial;
	}
	.computer{
		display: none;
	}
	header.page-header{
		height: 100px;
	}
	header span.site-heading h1{
		font-size: 30px;
	}
	header span.site-heading h1 small{
		font-size: 23px;

	}
	header span.site-heading h1 img{
		/*display: none; */
		height: 150px;
		width: 150px;
		float: left;
		margin-left: -20px;
		margin-top: -25px;
		display: inline-flex;
		margin-right: -40px;
		/*margin-top: 0;*/
	}
	/*gallery*/
	.gallery{
		padding-left: 0;
		padding-right: 0;
	}
}